In [8]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [25]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1027,tt1636826,12000000,100000000,Project X,Oliver Cooper|Jonathan Daniel Brown|Thomas Man...,Nima Nourizadeh,Witness it,Three high school seniors throw a party to mak...,88,Comedy|Crime,Silver Pictures|Green Hat Films,3/1/2012,6.5,2012
1501,tt0463034,54000000,130431368,"You, Me and Dupree",Kate Hudson|Owen Wilson|Matt Dillon|Michael Do...,Anthony Russo|Joe Russo,Two's company. Dupree's a crowd.,After standing in as best man for his longtime...,108,Comedy|Romance,Universal Pictures|Kaplan/Perrone Entertainmen...,7/14/2006,5.3,2006
754,tt1436562,90000000,484635760,Rio,Jesse Eisenberg|Anne Hathaway|Leslie Mann|Jane...,Carlos Saldanha,1 out of every 8 Americans is afraid of flying...,Captured by smugglers when he was just a hatch...,96,Animation|Adventure|Comedy|Family,Blue Sky Studios|Twentieth Century Fox Animation,4/3/2011,6.5,2011
266,tt0974661,20000000,136267476,17 Again,Zac Efron|Leslie Mann|Matthew Perry|Tyler Stee...,Burr Steers,Who says you're only young once?,"On the brink of a midlife crisis, 30-something...",102,Comedy,New Line Cinema|Offspring Entertainment,3/11/2009,6.0,2009
694,tt1031969,15000000,8762890,The Rocker,Rainn Wilson|Josh Gad|Christina Applegate|Emma...,Peter Cattaneo,Opportunity rocks.,"Rob ""Fish"" Fishman is the drummer in '80s hair...",102,Comedy|Music,Fox Atomic,8/20/2008,5.4,2008

In [7]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [31]:
answers = {} # создадим словарь для ответов
data['profit']=data['revenue']-data['budget']
# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [160]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 

# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [11]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()].original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [161]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals'

In [162]:
data[data.runtime == data.runtime.max()].original_title

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [163]:
answers['3']='Winnie the Pooh'
data[data.runtime == data.runtime.min()].original_title

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [164]:
answers['4']='110'
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [165]:
answers['5']='107'
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [166]:
answers['6']='Avatar'
data[data.profit==data.profit.max()].original_title
# лучше код получения столбца profit вынести в Предобработку что в начале

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [167]:
answers['7']='The Lone Ranger'
data[data.profit==data.profit.min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [168]:
answers['8']='1478'
len(data[data.profit>0])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [169]:
answers['9']='The Dark Knight'
data.loc[data['release_year']== 2008][['profit','original_title']].sort_values(['profit'])

        profit                                     original_title
636  -80445998                                          Australia
679  -42966317                                          Outlander
682  -37130952                                      City of Ember
705  -30206504                                        The Express
668  -26054234                                        Speed Racer
..         ...                                                ...
621  474029371                                            Hancock
606  501744560                                      Kung Fu Panda
607  557841637                                         Mamma Mia!
603  601636033  Indiana Jones and the Kingdom of the Crystal S...
599  816921825                                    The Dark Knight

[121 rows x 2 columns]

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [170]:
answers['10']='The Lone Ranger'
data.loc[(data['release_year']<= 2014) &(data['release_year']>=2012)][['profit','original_title']].sort_values(['profit'])

          profit                   original_title
1245  -165710090                  The Lone Ranger
1214   -68351500                         R.I.P.D.
1007   -51893525                      Upside Down
1302   -51337973  Legends of Oz: Dorothy's Return
1235   -45510171               Bullet to the Head
...          ...                              ...
1189   894761885                  Despicable Me 2
974    908561013                          Skyfall
1180  1015439994                       Iron Man 3
1177  1124219009                           Frozen
970   1299557910                     The Avengers

[367 rows x 2 columns]

# 11. Какого жанра фильмов больше всего?

In [171]:
answers['11']='Drama'
data['genres']=data['genres'].apply(lambda x:x.split('|'))
Counter(data.explode('genres')['genres']).most_common(1)

[('Drama', 782)]

ВАРИАНТ 2

[('Drama', 782)]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [172]:
answers['12']='Drama'
data_genres=data[data['profit']>0]
Counter(data_genres.explode('genres')['genres']).most_common(1)

[('Drama', 560)]

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [173]:
answers['13']='Peter Jackson'
data=pd.read_csv('movie_bd_v5.csv')
data['profit']=data['revenue']-data['budget']
data['director'] = data['director'].apply(lambda x: x.split('|'))
data_director=data.explode('director')
data_director.groupby(['director'])['revenue'].sum().sort_values()

director
Simon Hunter            2033165
Keanu Reeves            2054941
Paul Schrader           2062066
Steven Shainberg        2281089
David MichÃ´d           2295423
                        ...
J.J. Abrams          3579169916
Michael Bay          3886938960
David Yates          4154295625
Christopher Nolan    4167548502
Peter Jackson        6490593685
Name: revenue, Length: 997, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [174]:
answers['14']='Robert Rodriguez'
data=pd.read_csv('movie_bd_v5.csv')
data['profit']=data['revenue']-data['budget']
data['director'] = data['director'].apply(lambda x: x.split('|'))
data['genres']=data['genres'].apply(lambda x:x.split('|'))
data1=data.explode('director')
data1=data1.explode('genres')
data_action=data1[data1.genres.str.contains('Action')]
data_action.director.value_counts()

Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Ridley Scott          6
Antoine Fuqua         6
                     ..
Adam McKay            1
Joel Schumacher       1
Josh Trank            1
Betty Thomas          1
Malcolm D. Lee        1
Name: director, Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [175]:
answers['15']='Chris Hemsworth'
data=pd.read_csv('movie_bd_v5.csv')
data['profit']=data['revenue']-data['budget']
data['cast'] = data['cast'].apply(lambda x: x.split('|'))
data_director=data.explode('cast')
data_director.loc[data_director['release_year']== 2012][['profit','cast']].sort_values(['profit'])

          profit                cast
1007   -51893525       Timothy Spall
1007   -51893525       Heidi Hawkins
1007   -51893525        Jim Sturgess
1007   -51893525        James Kidnie
1007   -51893525       Kirsten Dunst
...          ...                 ...
970   1299557910  Scarlett Johansson
970   1299557910     Chris Hemsworth
970   1299557910        Mark Ruffalo
970   1299557910         Chris Evans
970   1299557910   Robert Downey Jr.

[555 rows x 2 columns]

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [49]:
answers['16']='Matt Damon'
data=pd.read_csv('movie_bd_v5.csv')

data['cast'] = data['cast'].apply(lambda x: x.split('|'))
data_cast=data.explode('cast')

data_cast.loc[data_cast['budget']> data_cast['budget'].mean()]['cast'].value_counts(ascending=False)

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Samuel L. Jackson    15
Tom Cruise           15
                     ..
Shane West            1
Jake Abel             1
Miriam Margolyes      1
Tony Kgoroge          1
James Carpinello      1
Name: cast, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [176]:
answers['17']='Action'
data=pd.read_csv('movie_bd_v5.csv')
data['cast'] = data['cast'].apply(lambda x: x.split('|'))
data['genres'] = data['genres'].apply(lambda x: x.split('|'))
data_cast=data.explode('cast')
data_cast=data.explode('genres')
data_castNick=data1[data1.cast.str.contains('Nicolas Cage')]
data_action.genres.value_counts()

Action    623
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [177]:
answers['18']='K-19: The Widowmaker'
data=pd.read_csv('movie_bd_v5.csv')
data['profit']=data['revenue']-data['budget']
data['production_companies']=data['production_companies'].apply(lambda x:x.split('|'))
data_prod=data.explode('production_companies')
data_prod_Paramount=data_prod[data_prod.production_companies.str.contains('Paramount')]
data_prod_Paramount[data_prod_Paramount.profit == data_prod_Paramount.profit.min()].original_title

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [178]:
answers['19']='2015'
data=pd.read_csv('movie_bd_v5.csv')
data.groupby(['release_year'])['revenue'].sum().sort_values()

release_year
2000    10664099805
2001    13017764865
2002    14136361487
2003    14346123312
2006    14775042320
2005    15309425558
2004    15663430720
2007    18162406801
2008    18252781990
2009    20261791024
2010    21071204961
2011    22676791872
2012    23079001687
2013    23213799791
2014    23405862953
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [182]:
answers['20']='2014'
data=pd.read_csv('movie_bd_v5.csv')
data['profit']=data['revenue']-data['budget']
data['production_companies']=data['production_companies'].apply(lambda x:x.split('|'))
data_prod=data.explode('production_companies')
data_Warner=data_prod[data_prod.production_companies.str.match('Warner Bros')]
data_Warner.groupby([data_Warner['release_year']])['profit'].sum().sort_values()

release_year
2000     452631386
2006     625351872
2015     870368348
2002    1022709901
2012    1258020056
2001    1282142579
2005    1551980298
2004    1631933725
2013    1636453400
2009    1822454136
2003    1844008221
2011    1871393682
2010    1974712985
2008    2134595031
2007    2201675217
2014    2292949646
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [183]:
answers['21']='Сентябрь'
data21=pd.read_csv('movie_bd_v5.csv')
data21['release_date']=data21['release_date'].apply(lambda x: x.split('/'))
data21['month']=data21['release_date'].apply(lambda x:x[0])
data21['month'].value_counts().sort_values()

1     110
2     135
5     140
7     142
11    146
6     147
4     149
3     156
8     161
10    186
12    190
9     227
Name: month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [184]:
answers['22']='450'
data22=pd.read_csv('movie_bd_v5.csv')
data22['release_date']=data22['release_date'].apply(lambda x:x.split('/'))
data22['month']=data22['release_date'].apply(lambda x:x[0])
def season(x):
    if x=='2' or x=='1' or x=='12':
        return 'зима'
    elif x=='3' or x=='4' or x=='5':
        return 'весна'
    elif x=='6' or x=='7' or x=='8':
        return 'лето'
    elif x=='9' or x=='10' or x=='11':
        return 'осень'
data22['season']=data22['month'].apply(season)
data22['season'].value_counts().sort_values()

зима     435
весна    445
лето     450
осень    559
Name: season, dtype: int64

# 23. Для какого режиссера зима – самое продуктивное время года?

In [185]:
answers['23']='Peter Jackson'
data22=pd.read_csv('movie_bd_v5.csv')
data22['release_date']=data22['release_date'].apply(lambda x:x.split('/'))
data22['month']=data22['release_date'].apply(lambda x:x[0])
def season(x):
    if x=='2' or x=='1' or x=='12':
        return 'зима'
    elif x=='3' or x=='4' or x=='5':
        return 'весна'
    elif x=='6' or x=='7' or x=='8':
        return 'лето'
    elif x=='9' or x=='10' or x=='11':
        return 'осень'
data22['season']=data22['month'].apply(season)
data22['director']=data22['director'].apply(lambda x:x.split('|'))
data22.explode('director')

winter_time=data22[data22['season']=='зима']

winter_time['director'].value_counts().sort_values()

[Angelina Jolie]       1
[Asger Leth]           1
[Richard Loncraine]    1
[John Boorman]         1
[Josh Trank]           1
                      ..
[Nancy Meyers]         4
[Shawn Levy]           4
[Steven Soderbergh]    6
[Clint Eastwood]       6
[Peter Jackson]        7
Name: director, Length: 332, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [186]:
answers['24']='Four By Two Productions'
data24=pd.read_csv('movie_bd_v5.csv')
data24['production_companies']=data24['production_companies'].apply(lambda x:x.split('|'))
data_prod24=data.explode('production_companies')
data_prod24['title_len']=data_prod24['original_title'].apply(lambda x:len(x))
data_prod24.groupby(['production_companies'])['title_len'].mean().sort_values()

production_companies
Global Entertainment Group     2.0
Ixtlan Productions             2.0
XM2 Productions                2.0
Berlanti Productions           3.0
Everest Entertainment          3.0
                              ...
Polsky Films                  46.0
Museum Canada Productions     46.0
Dos Corazones                 47.0
Jim Henson Company, The       59.0
Four By Two Productions       83.0
Name: title_len, Length: 1771, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [187]:
answers['25']='Midnight Picture Show '
data25=pd.read_csv('movie_bd_v5.csv')
data25['production_companies']=data25['production_companies'].apply(lambda x:x.split('|'))
data_prod25=data25.explode('production_companies')
data_prod25['wordslist']=data_prod25['overview'].str.split(' ') 
data_prod25['wordnumber']=data_prod25['wordslist'].apply(lambda x:len(x))
display(data_prod25)
data_prod25.groupby(['production_companies'])['wordnumber'].mean().sort_values()

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,wordslist,wordnumber
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios,6/9/2015,6.5,2015,"[Twenty-two, years, after, the, events, of, Ju...",26
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Amblin Entertainment,6/9/2015,6.5,2015,"[Twenty-two, years, after, the, events, of, Ju...",26
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Legendary Pictures,6/9/2015,6.5,2015,"[Twenty-two, years, after, the, events, of, Ju...",26
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Fuji Television Network,6/9/2015,6.5,2015,"[Twenty-two, years, after, the, events, of, Ju...",26
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Dentsu,6/9/2015,6.5,2015,"[Twenty-two, years, after, the, events, of, Ju...",26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions,2/16/2000,5.2,2000,"[A, trio, of, sisters, bond, over, their, ambi...",24
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Columbia Pictures Corporation,2/16/2000,5.2,2000,"[A, trio, of, sisters, bond, over, their, ambi...",24
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Global Entertainment Productions GmbH & Compan...,2/16/2000,5.2,2000,"[A, trio, of, sisters, bond, over, their, ambi...",24
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Nora Ephron Productions,2/16/2000,5.2,2000,"[A, trio, of, sisters, bond, over, their, ambi...",24
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000,"[A, mentally, disturbed, young, woman, takes, ...",43

production_companies
Motion Picture Corporation of America     11.0
Empire Pictures                           11.0
Henceforth                                13.0
Phantom Four                              13.0
London Boulevard                          13.0
                                         ...
Brookwell-McNamara Entertainment         156.0
98 MPH Productions                       159.0
Heineken Branded Entertainment           161.0
Room 9 Entertainment                     161.0
Midnight Picture Show                    175.0
Name: wordnumber, Length: 1771, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [190]:
answers['26']='The Dark Knight, 12 Years a Slave, Inside Out'
data26=pd.read_csv('movie_bd_v5.csv')
data26.sort_values('vote_average').tail(int(data26.original_title.count()/100)).original_title

155                          The Theory of Everything
863             The Lord of the Rings: The Two Towers
1688                              There Will Be Blood
283                                        Mr. Nobody
1191                                 12 Years a Slave
872                                       The Pianist
128                                         Gone Girl
1800                                          Memento
119                           Guardians of the Galaxy
370                                         Inception
1183                          The Wolf of Wall Street
138                          The Grand Budapest Hotel
1081    The Lord of the Rings: The Return of the King
34                                               Room
118                                      Interstellar
9                                          Inside Out
125                                The Imitation Game
599                                   The Dark Knight
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [206]:
answers['27']='Daniel Radcliffe, Rupert Grint'
data27=pd.read_csv('movie_bd_v5.csv')
data27['cast']=data27['cast'].apply(lambda x: x.split('|'))

from itertools import combinations
data27['pairs'] = data27['cast'].apply(lambda s: list(combinations(s, 2)))
data27 = data27.explode('pairs')
data27['pairs'].value_counts()

(Daniel Radcliffe, Emma Watson)        8
(Daniel Radcliffe, Rupert Grint)       8
(Rupert Grint, Emma Watson)            7
(Johnny Depp, Helena Bonham Carter)    6
(Ben Stiller, Owen Wilson)             6
                                      ..
(Bruce Willis, Emily Mortimer)         1
(Tina Fey, Corey Stoll)                1
(Rob Corddry, Rob Lowe)                1
(Ashton Kutcher, David Moscow)         1
(Katy Perry, Hank Azaria)              1
Name: pairs, Length: 18121, dtype: int64

# Submission

In [208]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'12': 'Drama',
 '13': 'Peter Jackson',
 '16': 'Tom Cruise',
 '18': 'K-19: The Widowmaker',
 '20': '2014',
 '1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': '110',
 '5': '107',
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': '1478',
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show ',
 '11': 'Drama',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '17': 'Action',
 '19': '2015',
 '21': 'Сентябрь',
 '26': 'The Dark Knight, 12 Years a Slave, Inside Out',
 '27': 'Daniel Radcliffe, Rupert Grint'}

In [209]:
# и убедиться что ни чего не пропустил)
len(answers)

27